$pink: #FEA0C8;
$aqua: #48D0D1;
$accent: #FCF5E5;
$light-grass: #D7EBCE;
$forest: #AEBE89;
$white: #ffffff;
$maxwidth: 1140px;
* {
    font-family: 'Montserrat', sans-serif;
}

.brand {
    color:$aqua;
}
.brand:hover {
    color:$aqua;
    text-decoration: none;
    font-weight: 500;
}
.container {
    margin-top: 10px;
}
.wrapper {
    max-width: $maxwidth;
    margin: 0 auto;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


.nav__top {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    &-item {
        margin-left: 5px;
    }
    &-link {
        color: $pink;
        text-decoration: none;
    }
}
img.icons {
    margin-left: 20px;
    margin-right: 3px;
}
.icon__search {
    margin-right: 20px;
}
.search {
    display: flex;
    padding-left: 0;
    margin-left: none;
    justify-content: space-between;
    
    color: $light-grass;
}

.nav__bottom {
    display: flex;
    max-width: $maxwidth;
    margin: 0 auto;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $light-grass;
    &-item {
        margin-left: 5px;
    }
    &-link {
        color: $aqua;
        text-decoration: none;
    }
}
.nav__top-link:hover {
    font-weight: 500;
    text-decoration: none;
    color: $aqua;
}
.nav__bottom-link:hover {
    font-weight: 500;
    text-decoration: none;
    color: $aqua;
}
h2 {
    color: $pink;
}
p {
    color:$pink;
}
.footer__nav {
    margin-top: 100px;
    background-color: $accent;
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    &-item {
        color: $aqua;
        font-size: 24px;
    }
    &-link {
        text-decoration: none;
        color: $aqua;
    }
    &-link:hover {
        text-decoration: none;
        color: $pink;
    }
}

@media (max-width: 1020px) {
    
    
    a.footer__nav-link {
        font-size: 14px;
    } 
}
/*
a {
    text-decoration: none;
    color:$aqua;
}

a:hover {
    text-decoration: none;
}
*/